.btn {
  display: block;
  width: fit-content;
  text-align: center;
  background-color: var(--color-teal-600);
  color: var(--color-neutral-50);
  text-decoration: none;
  /* stylelint-disable-next-line scale-unlimited/declaration-strict-value */
  padding: 0.88em 1.77em;
  border-radius: var(--radius-6);
  transition: background-color 300ms;
}

.btn:hover,
.btn:focus {
  background-color: var(--color-teal-300);
}
