@use "/src/App.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: var(--space-300);
  padding-bottom: var(--space-400);
  position: relative;
}

.menuBtn {
  border: none;
  background: none;
  cursor: pointer;
}

.mobileNav {
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  text-align: center;
  color: var(--color-neutral-900);
}

.mobileNavList {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.mobileNavLink--active {
  text-decoration: underline;
}

.nav {
  display: none;
}

@media (min-width: 768px) {
  .header {
    padding: 2.5rem 0;
  }
  .nav {
    display: block;
  }

  .menuBtn {
    display: none;
  }

  .mobileNav {
    display: none;
  }
}
