:root {
  --color-neutral-900: hsl(215, 19%, 25%);
  --color-neutral-500: hsl(215, 5%, 54%);
  --color-neutral-200: hsl(26, 10%, 87%);
  --color-neutral-100: hsl(40, 29%, 94%);
  --color-neutral-50: hsl(45, 80%, 98%);
  --color-neutral-0: hsl(0, 0%, 100%);

  --color-teal-600: hsl(179, 81%, 29%);
  --color-teal-300: hsl(178, 55%, 61%);

  --color-orange-200: hsl(25, 94%, 86%);

  --font-barlow: "Barlow", sans-serif;
}

.text-1 {
  font-size: 2.5rem;
  line-height: 1;
  letter-spacing: 0px;
  font-weight: 900;
}

.text-2 {
  font-size: 1.75rem;
  line-height: 1.2;
  letter-spacing: 0px;
  font-weight: 900;
}

.text-3 {
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.14;
  letter-spacing: 0px;
}

.text-4 {
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 0px;
}

.text-5,
.btn {
  font-size: 1.125rem;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: 0px;
}

.text-6 {
  font-family: var(--font-barlow);
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0px;
}
.text-7 {
  font-family: var(--font-barlow);
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0px;
}

.text-8 {
  font-family: var(--font-barlow);
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.076em;
}

.text-9 {
  font-weight: 900;
  line-height: 1;
  letter-spacing: 0px;
  font-size: 2.5rem;
}

@media (min-width: 768px) {
  .text-1 {
    font-size: 3rem;
  }

  .text-2 {
    font-size: 2rem;
    line-height: 1.4;
  }

  .text-9 {
    font-size: 7rem;
  }
}

@media (min-width: 1200px) {
  .text-1 {
    font-size: 4rem;
  }
  .text-2 {
    font-size: 2.5rem;
    line-height: 1.2;
  }

  .text-9 {
    font-size: 11.375rem;
  }
}

.radius-0 {
  border-radius: 0px;
}

.radius-4 {
  border-radius: 0.25rem;
}

.radius-6 {
  border-radius: 0.375rem;
}

.radius-8 {
  border-radius: 0.5rem;
}

.radius-10 {
  border-radius: 0.625rem;
}

.radius-12 {
  border-radius: 0.75rem;
}

.radius-16 {
  border-radius: 1rem;
}

.radius-20 {
  border-radius: 1.25rem;
}

.radius-24 {
  border-radius: 1.5rem;
}

.radius-full {
  border-radius: 999px;
}

.btn {
  display: inline-block;
  cursor: pointer;
  border-radius: 0.375rem;
  text-decoration: none;
  font-family: inherit;
  color: var(--color-neutral-50);
  background-color: var(--color-teal-600);
  padding: 1rem 2rem;
  border: none;
}
