.hero {
  position: relative;
  background-color: rgba(0, 0, 0, 60%);
  color: var(--color-neutral-50);
  text-align: center;
  padding: 6rem 1.5rem;
}
.content {
  max-width: 26.25rem;
}
.title {
  margin-bottom: 2rem;
}
.desc {
  margin-bottom: 2.5rem;
  opacity: 80%;
}
.img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

@media (min-width: 768px) {
  .hero {
    background: none;
    text-align: left;
    padding: 6rem 3rem;
  }

  .desc {
    margin-bottom: 3rem;
  }
}
@media (min-width: 1200px) {
  .hero {
    padding: 7rem 5rem;
  }
  .content {
    max-width: 30.81rem;
  }
}
