.steps {
  text-align: center;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.line {
  display: none;
}

@media (min-width: 768px) {
  .steps {
    text-align: left;
  }

  .line {
    display: block;
    border: solid 2px var(--color-orange-200);
    width: 66%;
    position: relative;
    margin-bottom: 5rem;
  }
  .circle {
    width: 2rem;
    height: 2rem;
    background-color: var(--color-neutral-50);
    position: absolute;
    border: solid 2px var(--color-teal-600);
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  .circle2 {
    left: 50%;
  }

  .circle3 {
    left: 100%;
  }

  .list {
    flex-direction: row;
    gap: 1.25rem;
  }
}

@media (min-width: 1200px) {
  .list {
    gap: 6rem;
  }
}
