.num {
  color: var(--color-orange-200);
  margin-bottom: 1.5rem;
  display: inline-block;
}

.title {
  margin-bottom: 1.5rem;
  color: var(--color-neutral-900);
}

.desc {
  color: var(--color-neutral-900);
}

@media (min-width: 768px) {
  .step {
    flex-basis: 30%;
    flex-grow: 1;
  }

  .num {
    margin-bottom: 2.5rem;
  }

  .title {
    margin-bottom: 2.5rem;
  }
}
