.collection {
  text-align: center;
  padding: 5rem 0;
}

.title {
  text-transform: lowercase;
  background: linear-gradient(
    180deg,
    var(--color-neutral-900),
    var(--color-neutral-50)
  ); /* Your gradient */
  background-clip: text; /* Clip background to text */
  -webkit-text-fill-color: transparent; /* Make text color transparent */
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

@media (min-width: 768px) {
  .inner {
    margin-left: -7rem;
    gap: 2rem;
  }
  .title {
    margin-bottom: -4rem;
  }
}

@media (min-width: 1200px) {
  .collection {
    padding: 8.75rem 0;
  }

  .inner {
    flex-direction: row;
    margin-left: 0;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
