.inner {
  background-color: var(--color-neutral-900);
  text-align: center;
  color: var(--color-neutral-50);
  padding: 4rem 1rem 14.1rem;
}

.title {
  margin-bottom: 2rem;
}

.desc {
  max-width: 540px;
  opacity: 80%;
  margin: 0 auto;
}

.benefits {
  width: 81%;
  margin: 0 auto;
  margin-top: -10rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media (min-width: 768px) {
  .inner {
    padding-bottom: 22rem;
  }

  .benefits {
    margin-top: -18rem;
  }
}

@media (min-width: 1200px) {
  .inner {
    padding-top: 6rem;
    padding-bottom: 18rem;
  }
  .benefits {
    flex-direction: row;
    margin-top: -14rem;
  }
}
