.list {
  display: flex;
  align-items: center;
  column-gap: var(--space-400);
}

.link {
  color: var(--color-neutral-500);
  text-decoration: none;
  transition: color 300ms;
}

.link:hover,
.link:focus {
  color: var(--color-neutral-900);
}

.link:focus {
  /* stylelint-disable-next-line scale-unlimited/declaration-strict-value */
  padding: 0.2rem 0.4rem;
  outline: none;
  border: solid 2px var(--color-teal-600);
  border-radius: var(--radius-8);
}
